.form-layout{
    border-radius: 20px;
    width: 500px;
}

#tabled {
    max-height: 320px;
}
#example-table {

}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#current_price {
    font-size: 28px;
    font-weight: bold;
}

#change {
    font-size: 20px;
}

#per_change {
    font-size: 20px;
}

#My_Dashboard {
    color: DeepSkyBlue;
    font-weight: bold;
}

#slug {
    font-weight: bold;
}

#name {
    color: #b0b9c1;
    font-size: 15px;
}
#current_info {
 display: inline-block;
}

#date_retrieved {
    padding-left: 15px;
    text-align: left;
    color: #b0b9c1;
    font-size: 10px;
}

#rotated {
    padding-bottom: 10px;
    writing-mode: vertical-rl;
    font-weight: lighter;
    font-size: 35px;
}

#chart-wrapper {
    margin-left: auto;
    /*background-color: red;*/
    display: flex;
    align-items: stretch;
}
#diversity_chart {
    margin-left: auto;
    /*background-color: black;*/
    width: 100%;
}
#diversity-title {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

#details ul {
    /*background-color: green;*/
    font-family: "Rubik", "sans-serif";
    font-size: 80%;
    text-align: left;
    list-style: none;
    padding: 20px;
    width: fit-content;
    display: inline-block;
    margin-left: auto;
}


    #details ul li {
        white-space: nowrap;
        text-transform: capitalize;
    }

        #details ul li .percentage {
            font-weight: 800;
            display: inline-block;

        }
