{% include "stock_store/base.html" with title='Dashboard' %}
{% load extras %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div id="example-table">{% csrf_token %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table Script-->
<script id="table_js" type="text/javascript" src="{% static 'js/table.js' %}" defer></script>
{{ user_subscriptions|json_script }}

{% endblock %}




