{% include "stock_store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <body>
        <br>

        <div  class="container bg-withe shadow -md p-5 form-layout">
            
            <h3> Login to your account </h3>
            
            <br>
            <br>

            <form method = "POST" autocomplete = "off">

                {% csrf_token %}
                
                {{form.username| as_crispy_field}}

                {{form.password| as_crispy_field}}
                          
                <br> <br>

                <button type="submit" class="btn btn-secondary brn-lg w-100 btn-block p-2"> &nbsp; Login </button>

                <br> <br>

                {{form.non_field_errors}}

            </form>

        </div>


    </body>

{% endblock %}